body {
    background: #000000;
    text-align: center;
}
.container {
    width: 1100px;
    display: inline-block;
}
.absolute-zero {
    position: relative;
}
.space {
    height: 0px;
}
.tools {
    margin-left: 350px;
}
.tools span {
    color: white;
}
.holder {
    width: 10px;
    height: 400px;
    background: blue;
}
.needle {
    width: 70px;
    height: 20px;
    background: grey;
    position: absolute;
    top: 20px;
    left: 340px;
}
.needle::after {
    content: "";
    display: block;
    width: 2px;
    height: 130px;
    position: absolute;
    background: grey;
    left: 60px;
    top: -10px;
    z-index: -1;
}
.bottle {
    width: 15px;
    height: 40px;
    top: 360px;
    position: absolute;
    background-color: orange;
}
.pallet {
    width: 190px;
    height: 20px;
    background: red;
    position: absolute;
    top: 380px;
    left: 570px;
}
.floor {
    height: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
}